body {
    padding-top: 60px;
    background-color: rgba(134, 210, 182, 0.36);
}
legend {
    border: 1px solid #ccc;
    font-size:18px;
    font-style: italic;
    width: auto;
    padding: 0 5px;
}
fieldset {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
}
footer {
    padding: 1em;
    background-color: #ddd;
    margin-top: 1em;
}
.list-group a:hover {
    background-color: #c4e3f3;
}
input[type=file] {
    margin: 8px;
}
input[type=checkbox] {
    transform: scale(1.6);
    margin: 5px;
}

dl.details dd {
    margin-bottom: 1em;
}

a.btn-block {
    margin: 4px 0 0 0;
}

small {
    color: #5e5e5e;
    font-size: 14px;
}

h3 {
    font-size: 18px;
    color: #5e5e5e;
}
h4 {
    font-size: 18px;
    color: #5e5e5e;
}
.order-panel {
    margin: 5px;
    white-space: normal;
}
.order-btn {
    margin: 0 15px 0 0;
    white-space: normal;
    padding: 0;
}
